include ../mixins/sub-menu.pug

header.header
  .row.align-items-center
    .col-2
      .inner-logo.ml-5
        a(href="/")
          img(src=settingGeneral.logo, alt="Logo" width="80px")


    .col-4
      form(
        action=`/search`
        method="GET"
      )
        div(class="form-group d-flex mb-0")
          input(
            type="text"
            placeholder="Bạn cần tìm kiếm gì?"
            class="form-control"
            name="keyword"
            value=keyword
          )
          button(
            type="submit"
            class="btn btn-primary"
          ) Tìm

    .col-6
      .inner-menu.mr-5
        ul
          li
            a(href="/") Trang chủ
          li(class="sub-menu")
            a(href="/products") Sản phẩm
            +sub-menu(layoutProductCatetory)
          li 
            a(href="/cart") <i class="fa-solid fa-cart-shopping"></i> (#{miniCart ? miniCart.products.length : 0})
          if (user)
            li 
              a(href="/user/info" class="btn btn-primary" style="color: white") #{user.fullName}
          if (!user)
            li 
              a(href="/user/login" class="btn btn-primary" style="color: white") Đăng nhập
            li 
              a(href="/user/register" class="btn btn-primary" style="color: white") Đăng ký
          if (user)
            li 
              a(href="/user/logout" class="btn btn-primary" style="color: white") Đăng xuất 
  if (user)
    a(href="/chat" class="chat-realtime") Chat

