extends ../../layouts/default.pug
include ../../mixins/alert.pug 

block main 
    h1 Chỉnh sửa

    +alert-success()
    +alert-error()

    form(
        action=`${prefixAdmin}/accounts/edit/${data.id}?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="fullName") Họ và tên *
            input(
                class="form-control"
                id="fullName"
                name="fullName"
                required
                type="text"
                value=data.fullName
            ) 
        div(class="form-group")
            label(for="email") Email *
            input(
                class="form-control"
                id="email"
                name="email"
                required
                type="email"
                value=data.email
            ) 
        div(class="form-group")
            label(for="password") Password *
            input(
                class="form-control"
                id="password"
                name="password"
                type="password"
            ) 
        div(class="form-group")
            label(for="phone") Số điện thoại
            input(
                class="form-control"
                id="phone"
                name="phone"
                type="text"
                value=data.phone
            ) 
        div(class="form-group" upload-image)
            label(for="avatar")
            input(
                type="file"
                class="form-control-file"
                id="avatar"
                name="avatar"
                accept="image/*"
                upload-image-input
            ) 
            img(
                src=data.avatar
                class="image-preview"
                upload-image-preview
            )
        div(class="form-group")
            label(for="role_id") Phân quyền  
            select(
                name="role_id"
                id="role_id"
                class="form-control"
            ) 
                option(disabled) -- Chọn -- 
                each role in roles 
                    option(
                        value=role.id
                        selected = role.id == data.role_id ? true : false
                    ) #{role.title}
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked = data.status == "active" ? true : false
            )
            label(for="statusActive") Hoạt động 
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
                checked = data.status == "inactive" ? true : false
            )
            label(for="statusInActive") Dừng hoạt động 
        div(class="form-group")
            button(
                class="btn btn-primary"
                type="submit"
            ) Cập nhật 
        
    