extends ../../layouts/default.pug
include ../../mixins/box-head.pug 

block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head("Chat")
        .row
            .col-12
                .chat(my-id=user.id)
                    //- .inner-head
                    //-   .inner-avatar EY
                    //-   .inner-name Em Yêu
                    .inner-body
                        each chat in chats
                            if (user.id == chat.user_id)
                                .inner-outgoing
                                    .inner-content #{chat.content}
                            if (user.id != chat.user_id)
                                .inner-incoming
                                    .inner-name #{chat.fullName}
                                    .inner-content #{chat.content}
                    .inner-foot
                        form(
                        class="inner-form"
                        action=""
                        )
                            input(
                                type="text"
                                placeholder="Nhập nội dung..."
                                name="content"
                            )
                            span(class="button-icon btn btn-light") <i class="fa-solid fa-face-grin-wink" style="font-size: 24px"></i>
                            button
                                i.fa-solid.fa-paper-plane
    div(class="tooltip" role="tooltip") 
        emoji-picker(class="light")