extends ../../layouts/default.pug
include ../../mixins/box-head.pug 

block main 

    .container.my-3

        include ../../partials/list-btn-user.pug

        .row 
            .col-12
                +box-head("Lời mời đã gửi")

        .row 
            each user in users
                .col-6 
                    div(class="box-user add")
                        div(class="inner-avatar")
                            img(src="https://cdn.discordapp.com/attachments/1261618265025679461/1266753883322187776/avatar.jpg?ex=66a64bfc&is=66a4fa7c&hm=bbb3c1bd81f250e43e2714b4134312ae46a9e0ffccb7d8111510108ccc1f5e74&", alt="avatat")
                        div(class="inner-info")
                            div(class="inner-name") #{user.fullName}
                            div(class="inner-buttons")
                                button(
                                    class="btn btn-sm btn-primary mr-1 add"
                                    btn-add-friend=user.id
                                ) Kết bạn
                                button(
                                    class="btn btn-sm btn-secondary mr-1"
                                    btn-cancel-friend=user.id
                                ) Hủy 
